solutions/TestSolution/Workflows/BulkEmailTest-6D68B61E-56F3-EF11-BE20-0022485AA5A7.json
{
  "properties": {
    "connectionReferences": {
      "shared_excelonlinebusiness": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "test_sharedexcelonlinebusiness_9212f"
        },
        "api": {
          "name": "shared_excelonlinebusiness"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "test_sharedsharepointonline_96438"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "test_sharedoffice365_7220e"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_new_email_arrives_(V3)": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "ccdfe0c3-58de-4aae-b731-590d57fbd914"
          },
          "type": "OpenApiConnectionNotification",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "connectionName": "shared_office365",
              "operationId": "OnNewEmailV3"
            },
            "parameters": {
              "folderPath": "Inbox",
              "includeAttachments": true,
              "subjectFilter": "Bulk Email Test",
              "importance": "Any",
              "fetchOnlyWithAttachment": true
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows_present_in_a_table": {
          "runAfter": {
            "Create_file_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "14d3e87e-e01c-4555-b4d5-1225ae9cdc85",
            "tableId": "Table1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
              "connectionName": "shared_excelonlinebusiness",
              "operationId": "GetItems"
            },
            "parameters": {
              "source": "sites/m365x61463317.sharepoint.com,2538f515-13fe-4ce7-a0b7-75c9c2511494,5607a536-e6c7-49d2-b57d-7004695c025f",
              "drive": "b!FfU4Jf4T50ygt3XJwlEUlDalB1bH5tJJtX1wBGlcAl-qdC0jWGpjTojm8DeMqfls",
              "file": "@outputs('Create_file_2')?['body/Path']",
              "table": "Table1"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Filter_array": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e7c14e9d-ece2-4cdb-8607-f4e9f5ff2242"
          },
          "type": "Query",
          "inputs": {
            "from": "@triggerOutputs()?['body/attachments']",
            "where": "@endswith(item()?['name'], 'xlsx')"
          }
        },
        "Create_file_2": {
          "runAfter": {
            "Filter_array": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cd44ac35-789b-407d-a75b-ab200cf0e5b0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "CreateFile"
            },
            "parameters": {
              "dataset": "https://m365x61463317.sharepoint.com",
              "folderPath": "/Shared Documents",
              "name": "@first(body('Filter_array'))?['name']",
              "body": "@first(body('Filter_array'))?['contentBytes']"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}