solutions/TestSolution/Workflows/GetTeamMembers-6C68B61E-56F3-EF11-BE20-0022485AA5A7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_a43ca"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "094788c6-fdec-433c-81c2-da9a66a633d3"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "ListTeams": {
          "runAfter": {
            "varMembers": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bef35b96-2773-4932-aa4a-ea0104edbe00"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "teams",
              "$filter": "contains(name,'Deployment')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('ListTeams')?['body/value']",
          "actions": {
            "ListMemberships": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e9a97c4a-2b80-4d37-8d9b-378dd81a8b42"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "teammemberships",
                  "$filter": "teamid eq '@{items('Apply_to_each')?['teamid']}'"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "ForEachMembership": {
              "foreach": "@outputs('ListMemberships')?['body/value']",
              "actions": {
                "GetUserById": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "fe321198-1e55-4bf8-b189-5d48064b8999"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "systemusers",
                      "recordId": "@items('ForEachMembership')?['systemuserid']"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Append_to_array_variable": {
                  "runAfter": {
                    "GetUserById": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "10c39e30-da65-4673-8c02-84f1c043d04f"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varMembers",
                    "value": {
                      "TeamName": "@items('Apply_to_each')?['name']",
                      "TeamMemberName": "@outputs('GetUserById')?['body/fullname']",
                      "TeamMemberEmail": "@outputs('GetUserById')?['body/domainname']"
                    }
                  }
                }
              },
              "runAfter": {
                "ListMemberships": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9de499d4-9ca6-4392-a832-83721ccb901a"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "ListTeams": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "977376eb-9dd8-4fde-8f48-6d5fe458a208"
          },
          "type": "Foreach"
        },
        "varMembers": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c40cd33e-f3b7-4b79-a748-6e71c921a511"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varMembers",
                "type": "array"
              }
            ]
          }
        },
        "FinalListOfMembers": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "79fd9055-e9ed-437f-84f0-880d4929ec2c"
          },
          "type": "Compose",
          "inputs": "@variables('varMembers')"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}